doctype html
html
    head
        title Pr Team 1
        meta( charset="UTF-8" )
        link( rel='stylesheet', type='text/css', href='all.css' )
    body( style='background: url( "./background-pattern-2.jpg" )' )

        .icons( data-icons, data-grid-x=76, data-grid-y=76+40 )
            .icon(data-icon, data-url='./icon-recycle-bin.png', data-x=0, data-y=0, data-name='Recycle Bin' )
            .icon(data-icon, data-url='./icon-pdf.png', data-x=0, data-y=1, data-name='DRAFT Press Release.pdf' )
            .icon(data-icon, data-url='./icon-pdf.png', data-x=0, data-y=3, data-name='Kavital Future.pdf' )

        .outlook( style='left: 30px', data-outlook-config, data-messages-path='./messages/pr-team-1.txt', data-new-message-every-min=2000, data-new-message-every-max=20000 )

            .outlook-inbox-counter(data-inbox-counter) 2000
            .outlook-draft-counter 1

            .outlook-list(data-inbox-list)
                //- .outlook-list-item
                //-     .unread
                //-     h1 Sender's Name
                //-     h2 Subject Line
                //-     h3 Message
                //-     h4 Time

            .outlook-message
                .outlook-message-header
                    .outlook-message-header-icon: h5 MW
                    .outlook-message-header-from Mark Walfield
                    .outlook-message-header-time 09:32
                    .outlook-message-header-subject Re: Press et al.
                    .outlook-message-header-to To: Joel Harris
                .outlook-message-body
                    p draft follows:
                    p
                    p <strong>PLAN BY KAVITAL</strong>
                    p <em>Energy to change the world</em>
                    p
                    p We are thrilled to be part of this ambitious and open initiative.
                    p Plan (codename) by Kavital combines the strength of the best UK scientific research of the century and the passion of a tight-knit team of enterpreneurs and inventors.
                    p
                    p Plan by Kavital is poised to change the UK's and the world's power markets with the promise of <strong>clean, near-inexhaustible energy</strong>.
                    p
                    p Due to launch in Q4 2016, Plan will be unveiled at the end of May in front a global audience by CEO W.Earl Oak.
                    p
                    p Plan will first roll out as a consumer device, with OEM and heav-industry versions scheduled for Q2 2017.
                    p
                    p ---- PARA ABOUT PLAN FUNDING AND SPONSORS (Jen can you look into this?)
                    p ---- CLOSING REMARKS
                    p ---- CONTACT INFO, etc.
                    p
                    p
                    p -----
                        br
                        | Mark Walfield
                        br
                        | Kavital PR
                        br
                        a( href="/" ) kavital.co.uk
        
        .bar
            .bar-apps
            .bar-middle
            .bar-status
                .bar-status-item(data-bar-time).time  
                    //- 12:45 PM
                .bar-status-item(data-bar-date).date 
                    //- 7/30/2015

        script( src='jquery-2.2.0.min.js' )
        script( src='W.min.js' )
        script( src='main.js' )
