doctype html
html
    head
        title Pr Team 2
        meta( charset="UTF-8" )
        link( rel='stylesheet', type='text/css', href='all.css' )
    body( style='background: url( "./background-pattern.jpg" )' )

        .icons( data-icons, data-grid-x=36, data-grid-y=36+60 )
            .icon(data-icon, data-url='./icon-recycle-bin.png', data-x=0, data-y=0, data-name='Recycle Bin' )
            //.icon(data-icon, data-url='./icon-pdf.png', data-x=0, data-y=1, data-name='Boarding Pass.pdf' )

        .outlook( style='right: 42px; left: auto; top: 34px', data-outlook-config, data-messages-path='./messages/pr-team-2.txt', data-new-message-every-min=2000, data-new-message-every-max=20000 )

            .outlook-inbox-counter(data-inbox-counter) 2000
            .outlook-draft-counter 1

            .outlook-list(data-inbox-list)
                //- .outlook-list-item
                //-     .unread
                //-     h1 Sender's Name
                //-     h2 Subject Line
                //-     h3 Message
                //-     h4 Time

            .outlook-message
                .outlook-message-header
                    .outlook-message-header-icon: h5 AL
                    .outlook-message-header-from Anand Lai
                    .outlook-message-header-time 06:30
                    .outlook-message-header-subject Re: Upcoming energy tech
                    .outlook-message-header-to To: Lori Eaton
                .outlook-message-body
                    p This is really interesting, thanks for getting in touch, we would love to run a piece ASAP.
                    p Could you please provide further detail regarding the overall system and its power specs? Anything that you are comfortable sharing would be much appreciated.
                    p Our audience is overwhelmingly technical and in order for us to run a piece like this we will need as much detail as possible.
                    p
                    p Please bear in mind that our editorial and technical teams will be running some independent tests to verify you claims and answer further questions.
                    p
                    p This said… even if half of your claims were true, which I believe they are, you are about to <strong>change the world.</strong>
                    p <strong>We are effectively talking about a true man-made, <em>near-inexhaustible</em> energy source!</strong>

                    p -----
                        br
                        | Anand Lai
                        br
                        | Editor in Chief
                        br
                        a( href="/" ) anandtech.com
        
        .bar
            .bar-apps
            .bar-middle
            .bar-status
                .bar-status-item(data-bar-time).time  
                    //- 12:45 PM
                .bar-status-item(data-bar-date).date 
                    //- 7/30/2015

        script( src='jquery-2.2.0.min.js' )
        script( src='W.min.js' )
        script( src='main.js' )
