doctype html
html
    head
        title Pr Team 2
        meta( charset="UTF-8" )
        link( rel='stylesheet', type='text/css', href='all.css' )
    body( style='background: url( "./background-pattern.jpg" )' )

        .icons( data-icons, data-grid-x=36, data-grid-y=36+60 )
            .icon(data-icon, data-url='./icon-recycle-bin.png', data-x=0, data-y=0, data-name='Recycle Bin' )
            //.icon(data-icon, data-url='./icon-pdf.png', data-x=0, data-y=1, data-name='Boarding Pass.pdf' )

        .outlook( style='right: 42px; left: auto; top: 34px', data-outlook-config, data-messages-path='./messages/pr-team-2.txt', data-new-message-every-min=2000, data-new-message-every-max=20000 )

            .outlook-inbox-counter(data-inbox-counter) 2000
            .outlook-draft-counter 1

            .outlook-list(data-inbox-list)
                //- .outlook-list-item
                //-     .unread
                //-     h1 Sender's Name
                //-     h2 Subject Line
                //-     h3 Message
                //-     h4 Time

            .outlook-message
                .outlook-message-header
                    .outlook-message-header-icon: h5 SL
                    .outlook-message-header-from Sara Luhan
                    .outlook-message-header-time 06:30
                    .outlook-message-header-subject Please call John
                    .outlook-message-header-to To: Lori
                .outlook-message-body
                    p Lori, you know I've been trying to reach you. So has John. 
                    p The call last night. Really this does not conern you. 
                        br 
                        | People just get carried away.
                    p
                    p -----
                        br
                        | Dr Sara Luhan
                        br
                        | Stanford Precourt Institute for Energy 
                        br
                        a( href="/" ) energy.stanford.edu
        
        .bar
            .bar-apps
            .bar-middle
            .bar-status
                .bar-status-item(data-bar-time).time  
                    //- 12:45 PM
                .bar-status-item(data-bar-date).date 
                    //- 7/30/2015

        script( src='jquery-2.2.0.min.js' )
        script( src='W.min.js' )
        script( src='main.js' )
